.section {
  //margin: auto;
  position: relative;
  //margin-top: 20%;
  display: flex;

  width: 100%;
  justify-content: center;
  //height: 100vh;
  //margin-top: var(--spacer, 2rem);
}

.wavy {
  position: absolute;
  top: 0;
  left: 0;
  height: 20rem;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wavy svg {
  position: relative;
  display: block;
  width: calc(100% + 30px);
  height: 100%;
}

.wavy .shapeFill {
  fill: #f1f5f9;
}

.workHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4rem;
  h2 {
    font-size: 2rem;
    line-height: 1.1;
  }
}

//.workTitle {
//padding-bottom: 1rem;
//}
.filterBtns {
  display: none;
}

.filterBtn {
  display: inline-block;
  color: var(--color-8);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-left: 1.3rem;
  font-family: inherit;
  text-transform: uppercase;
}
.workGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.container {
  transition: 0.3s;
  max-width: 90rem;
  width: 100%;
}

.container.shrink {
  transform: scale(0.9);
}
