.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-8);
  border-radius: 0.6rem;
  padding: 1.5rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 2rem;
  color: var(--color-3);
}
.rating {
  margin: 1rem 1rem;
}

.star {
  height: 1.2rem;
  width: 1.2rem;
  color: #ff191a;
}

.image {
  position: relative;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  overflow: hidden;
}
.quote {
  color: var(--color-2);
}

.logo {
  color: #FF191A;
  top: 1rem;
  right: 1rem;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
}
