

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-2);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 2rem;
}
.rating {
  margin: 1rem 1rem;
}

.image {
  position: relative;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  overflow: hidden;
}
.quote {
}
