/* -------------------------------- Website Theme ---------- */

:root {
  --color-1: hsl(206, 70%, 96%);
  --color-2: hsl(204, 70%, 88%);
  --color-3: hsl(204, 70%, 76%);
  --color-4: hsl(204, 70%, 64%);
  --color-5: hsl(204, 70%, 53%);
  --color-6: hsl(204, 70%, 44%);
  --color-7: hsl(204, 71%, 32%);
  --color-8: hsl(204, 71%, 20%);
  --color-transparent: hsl(204, 70%, 76%, 0.4);
  --color-dark: hsl(202, 100%, 12%);
  --color-accent: #fdd85d;
  --darkest-color: #0f3a57;
  --buttons-links: #cbe5f6;
  --middle-color: #185d8b;
  --lightest-color: #eef6fc;
  --hue-1: 193;
  --hue-2: 47;
  --bg-color: hsl(var(--hue-1), 100%, 96%);
  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-2: hsl(var(--hue-2), 100%, 61%);
  --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
  --bg-color-1: hsl(var(--hue-1), 100%, 95.5%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --bg-color-transparent: rgba(15, 58, 87, 0.9);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
  --text-color: hsl(var(--hue-1), 17%, 63%);
}

/* -------------------------------- General Styling ---------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f5f9;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  margin: 0;
}

::selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* -------------------------------- Navbar Styling ------------------------------ */

@media (prefers-color-scheme: dark) {
  /*
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: darkgrey;
  }
  */
}
